.sidenavbar{
    background-color: #172635;
    width: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    color: white;
}

.sidenavbar-titles{
    font-weight: lighter;
}

.sidenavbar-content{
    text-align: center;
    width: 100%;
    padding-top: 1.5em;
    text-decoration: none;
    color: white;
}

.sidenavbar-content:hover{
    background-color: black;
    border-bottom-style: inset;
    border-bottom: 2px solid cyan;
}

