.contacts-dropdown-menu {
    position: absolute;
    margin-top: -4.3em;
    left: 100%; /* Position the dropdown to the right of the button */
    width: 180px; /* Adjust the width as needed */
    background-color: #172635;
    color: white;
    border: 1px solid #888;
    border-radius: 4px;
  }
  
  .contacts-dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contacts-dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .contacts-dropdown-menu li:hover {
    background-color: black;
  }