.allcontact {
    flex: 1;
    margin-left: 90px;
    height: 100vh;

}

.contacts-allcontacts-title-div {
    position: sticky;
    top: 7.5vh;
    width: 100%;
    height: 4vh;
    border-top: none;
    border-bottom: 0.5px solid rgb(242, 245, 245);
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-allcontacts-title {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
}

.contact-allcontacts-fav-title {
    display: flex;
    flex-direction: row;
    padding-right: 1em;
}

.contacts-title-text {
    font-weight: lighter;
}

.contact-allcontacts-header-div {
    height: 8vh;
    border-top: none;
    border-bottom: 2.5px solid rgb(242, 245, 245);
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-allcontacts-header {
    padding-left: 1em;
}

.contact-allcontacts-buttons {
    padding-right: 1em;
}

.contact-allcontacts-header-text {
    font-weight: lighter;
    color: #FF7E18;
}

.addnew-btn {
    width: 105px;
    height: 35px;
    margin-right: 1em;
    color: white;
    background-color: #FD7553;
    border: none;
    border-radius: 4px;
}

.addnew-btn:hover {
    box-shadow: 0 8px 8px -4px lightblue;
}

.more-btn {
    width: 80px;
    height: 35px;
    color: #FF7E18;
    background-color: white;
    border: 0.5px solid #FF7E18;
    border-radius: 4px;
}

.more-btn:hover {
    box-shadow: 0 8px 8px -4px lightblue;
}

.allcontacts-wrapper {
    display: flex;
    height: 77vh;
}

.left-div-filterby-text {
    color: grey;
    font-weight: lighter
}

.left-div-filterby {
    padding-left: 1em;
    padding-top: 2em;
    width: 28%;
    height: 60vh;
    border-right: 1px solid rgb(242, 245, 245);
    border-bottom: 1px solid rgb(242, 245, 245);

}

.left-div-content {
    display: flex;
    padding-top: 1.5em;
}

.left-div-chkbox[type='checkbox'] {
    accent-color: #FF7E18;

}

.left-div-text {
    margin-left: 0.5em;
    color: gray;
}

.left-div-text:hover {
    color: #FF7E18;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
}


.right-div-icon-div {
    width: 90%;
    height: 10vh;
    margin-left: 4em;
    margin-top: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.right-div-icons {
    border: 1px solid;
    text-align: center;
    width: 40px;
    height: 30px;
    border-radius: 4px;
    margin-right: 1em;
    margin-top: -0.5em;
    border: 1px solid rgb(223, 228, 228);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.right-div-icons:hover {
    outline: rgb(182, 180, 180) solid 1px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 95px;
    background-color: black;
    font-size: 0.7em;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.right-div-contacts-table {
    border: 1px solid;
    width: 90%;
    height: 50vh;
    margin-left: 4em;
    margin-top: 1em;
    border-radius: 4px;
    border: 1px solid rgb(242, 245, 245);
}


/* table */

td,
th {
    border: 1px solid rgb(242, 245, 245);
    padding: 10px;
    min-width: 200px;
    background: white;
    box-sizing: border-box;
    text-align: left;
}

.unfixed-table{
    height: 43vh;
}

.table-container {
    position: relative;
    height: 300px;
    width: 100%;
    overflow-x: scroll;
}



thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: lighter;
}

thead th:first-child {
    left: 0;
    z-index: 2;
}

td {
    position: sticky;
    bottom: 0;
    z-index: 2;
    font-weight: lighter;
}

td:first-child {
    z-index: 3;
    color: #349BF1;
}

tbody {
    overflow: scroll;
    height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
tr> :first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    visibility: hidden;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    visibility: visible;
    background-color: #FD7553;
  }