.allcontact {
    flex: 1;
    margin-left: 90px;
    height: 100vh;

}

.contacts-allcontacts-title-div {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4vh;
    border-top: none;
    border-bottom: 0.5px solid rgb(242, 245, 245);
    background-color: white;
    position: sticky;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-allcontacts-title {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
}

.contact-allcontacts-fav-title {
    display: flex;
    flex-direction: row;
    padding-right: 1em;
}

.contacts-title-text {
    font-weight: lighter;
}

.contact-allcontacts-header-div {
    height: 8vh;
    border-top: none;
    border-bottom: 2.5px solid rgb(242, 245, 245);
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-allcontacts-header {
    padding-left: 1em;
}

.contact-allcontacts-buttons {
    padding-right: 1em;
}

.contact-allcontacts-header-text {
    font-weight: lighter;
    color: #FF7E18;
}

.addnew-btn {
    width: 105px;
    height: 35px;
    margin-right: 1em;
    color: white;
    background-color: #FD7553;
    border: none;
    border-radius: 4px;
}

.addnew-btn:hover {
    box-shadow: 0 8px 8px -4px lightblue;
}

.more-btn {
    width: 80px;
    height: 35px;
    color: #FF7E18;
    background-color: white;
    border: 0.5px solid #FF7E18;
    border-radius: 4px;
}

.more-btn:hover {
    box-shadow: 0 8px 8px -4px lightblue;
}

.allcontacts-wrapper {
    display: flex;
    flex-direction: row;
}

.left-div-filterby-text {
    color: grey;
    font-weight: lighter
}

.left-div-filterby {
    padding-left: 1em;
    padding-top: 2em;
    width: 22%;
    height: 60vh;
    border-right: 1px solid rgb(242, 245, 245);
    border-bottom: 1px solid rgb(242, 245, 245);

}

.left-div-content {
    display: flex;
    padding-top: 1.5em;
}

.left-div-chkbox[type='checkbox'] {
    accent-color: #FF7E18;

}

.left-div-text {
    margin-left: 0.5em;
    color: gray;
}

.left-div-text:hover {
    color: #FF7E18;
}

.right-div-icon-div {
    width: 74%;
    height: 10vh;
    margin-left: 1em;
    margin-top: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.right-div-icons {
    border: 1px solid;
    text-align: center;
    width: 40px;
    height: 30px;
    border-radius: 4px;
    margin-right: 1em;
    margin-top: -0.5em;
    border: 1px solid rgb(223, 228, 228);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}