.header{
    width: 100%;
    height: 7.5vh;
    border: 1px solid chartreuse;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title-content{
    display: flex;
}

.logo{
    width: 2em;
    height: 2em;

}

.header-title{
    font-size: 2em;
    font-family: 'Rajdhani', sans-serif;

}